[Unit]
Description=Garden PI Service
# The kernel modules being loaded is necessary for I2C to be ready to use. If running with no display,
# then this is not needed as gpio handling is inside the kernel in the RPI
Requires=systemd-modules-load.service
After=systemd-modules.load.service
# time sync being achieved before starting is critical if we run on pi zero that has no RTC
# The time-sync.target doesn't work on the raspberry pi, so we have to enable the 
# systemd-time-wait-sync.service and start after it 
After=systemd-time-wait-sync.service
# This will force the system to reboot if our application fails to load 
# So remove these lines if sharing the RPI with other applications
StartLimitBurst=5
StartLimitIntervalSec=300
StartLimitAction=reboot

[Service]
WorkingDirectory=/home/david
Type=notify
Restart=always
RestartSec=30
User=david
ExecStart=/home/david/gardenpi.py
WatchdogSec=180

[Install]
WantedBy=multi-user.target


